* {
  font-family: sans-serif;
}

html {
  background-color: #090D2B;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #090D2B;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  color: white;
  position: relative;
  bottom: 10rem;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-bar {
  width: 220rem;
  height: 1rem;
  background-color: #FFF;
  margin-right: 5px;
  animation: loading 1s ease-in-out infinite;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgb(91, 44, 222) !important;
}



@media only screen and (max-width: 768px) {
  /* CSS rules for tablets and cell phones */
  .loading-bar {
    width: 25rem;
    height: .7rem;
    background-color: #FFF;
    margin-right: 5px;
    animation: loading 3.5s ease-in-out infinite;
    opacity: .8;
  }
}

@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25rem;
}

.letter {
  font-size: 2rem;
  margin-right: 10px;
  text-shadow: 0 0.5rem 1rem rgb(91, 44, 222);
}